.form {
  display: flex;
  flex-direction: column;
  height: 560px;
  width: clamp(300px, 50vw, 400px);
  margin-bottom: 64px;
}

.error {
  color: var(--red-color);
  opacity: .8;
  margin-top: 10px;
}

.btn {
  margin-top: auto;
}